<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>From Left to Write Calligraphy</title>
    <meta name="description" content="From Left to Write - Your reliable calligraphy resource for videos, exemplars, articles and all hosts of goodies">
    <meta name="author" content="Robbie Hilado" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="css/style.css">
  </head>
  <body>
    <div class="MainContainer">
        <header class="TopBar">
          <!-- Navigation-->
          <nav class="Navigation">
            <div class="Navigation-Logo">
              logo goes here
            </div>
            <ul class="NavigationLinks">
              <li class="NavigationLinks-PrimaryLink">
                <a href="javascript:void(0);">
                  Home
                </a>
              </li>
              <li class="NavigationLinks-PrimaryLink">
                <a href="javascript:void(0);">
                  Blog
                </a>
              </li>
              <li class="NavigationLinks-PrimaryLink">
                <a href="javascript:void(0);">
                  About
                </a>
              </li>
              <li class="NavigationLinks-PrimaryLink">
                <a href="javascript:void(0);">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
        <article class="Article">
          <header class="Article-HeaderHero">
            <div class="HeaderHero-Text">
              <h6>Calligraphy Basics</h6>
              <h1>Dead as fucking fried chicken</h1>
              <p>I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
            </div>
          </header>
          <section class="SectionPrimary">
            <div class="ProjectSummary">
                <aside class="ProjectSummary-KeyInfo">
                  <h4 class="KeyInfo-Header">What you'll learn in this post</h4>
                  <ul>
                    <li>
                      Pointed Pen Calligraphy
                    </li>
                    <li>
                      English Roundhand
                    </li>
                    <li>
                      Basics
                    </li>
        
                  </ul>
                </aside>
                <div class="ProjectSummary-ProjectBlurb">
                    <h3 class="ProjectBlurb-ProjectBrief">
                        You think water moves fast? You should see ice. It moves like it has a mind.
                        Like it knows it killed the world once and got a taste for murder. After the
                        avalanche, it took us a week to climb out. Now, I don't know exactly when we
                        turned on each other, but I know that seven of us survived the slide...
                        and only five made it out.
                    </h3>
                    <p>
                        Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
                      </h3>
                      <p class="ProjectBlurb-ProjectProposal">
                          Through qualitative user research, we were able to discern what would be usable to a 3-year-old yet not alienating to an 11-year-old. We observed kids and parents interacting with current Nickelodeon and competitor apps to get a sense of what was working well and opportunities for improvement during the design phase.
                    </p>
                </div>
            </div>
          </section>
        </article>
        <footer class="Footer">
          This shall be your footer
        </footer>
    </div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
